{{#extends 'base'}}
{{#block "content"}}
<h1>Cheesecake Menu</h1>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="classic-basque.avif" class="card-img-top" alt="Classic Basque Cheesecake">
        <div class="card-body">
        <h5 class="card-title">Classic Basque Cheesecake</h5>
        <p class="card-text">Super Creamy Cheesecake with a Delicious and Uniquely “Burnt” Top, Covered with Fresh Berries.</p>
        <p>$6.95</p>
        <a href="#" class="btn btn-success">Edit</a>
        <a href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="cinnamon-swirl.avif" class="card-img-top" alt="Cinnamon Swirl">
        <div class="card-body">
        <h5 class="card-title">Cinnamon Swirl Cheesecake</h5>
        <p class="card-text">SLayers of Cinnabon® Cinnamon Cheesecake and Vanilla Crunch Cake Topped with Cream Cheese Frosting and Caramel.</p>
        <p>$7.25</p>
        <a href="#" class="btn btn-success">Edit</a>
        <a href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
    
  
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="reese-peanut-butter-choc.avif" class="card-img-top" alt="Reese Peanut Butter & Chocolate Cheesecake">
        <div class="card-body">
        <h5 class="card-title">Reese Peanut Butter and Chocolate Cheesecake</h5>
        <p class="card-text">Reese’s® Peanut Butter Cups in Our Original Cheesecake with Layers of Delicious Fudge Cake and Caramel.</p>
        <p>$7.95</p>
        <a href="#" class="btn btn-success">Edit</a>
        <a href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
    
  
    </div>
  </div>
</div>
{{/block}}
{{/extends}}